<!DOCTYPE html>
<html>
%rebase('base.html', title="Predmet")

<head>
    <title>Učilnica</title>
</head>

<body>
    <div class="odzadje">
        <h1>{{predmet.ime}}</h1>
        <div class="modra-senca">
            <h2>Seznam poglavij:</h2>
        </div>
        
        <ul>
            %id_predemta = ucilnica.seznam.index(predmet)
            %for id_poglavja, poglavje in enumerate(predmet.seznam):
                <li>
                    <a href="/{{id_predmeta}}/{{id_poglavja}}/">{{poglavje.ime}}</a>
                </li> 
            %end
        </ul>
        
        <form action="/{{id_predmeta}}/dodaj_poglavje/", method="POST", accept-charset="utf-8">
            <input type="text", name="ime", placeholder="Ime poglavja">
            <button>DODAJ</button>
        </form>
        <div class="gumb-sredina-z">
            <form action="/{{id_predmeta}}/preimenuj/", method="POST", accept-charset="utf-8">
                <input type="text", name="novo_ime", placeholder="Spremeni ime predmeta">
                <button>SHRANI</button>
            </form>
        </div>
        <div class="gumb-sredina-s">
            <a href="/{{id_predmeta}}/izbrisi_predmet/">
                <button type="button">IZBRŠI predmet '{{predmet.ime.upper()}}'</button>
            </a>
        </div>
        <div class="gumb-levo">
            <a href="/"><button type="button">NAZAJ</button></a>
        </div>
    </div> 
</body>

%end
</html>