<!DOCTYPE html>
<html>
%rebase('base.html', title="Ucilnica")
<body>
    <div class="odzadje">
        <h1>Dobrodošli v učilnici</h1>
        <div class="modra-senca">
            <h2>Tu je vaš seznam predmetov: </h2>
        </div>
        <div class="krepko">
            <ul>
            %for id_predmeta, predmet in enumerate(ucilnica.seznam):
                <li>
                    <a href="/{{id_predmeta}}/">{{predmet.ime}}</a>
                </li>
            %end
            </ul>
        </div>
        <div class="srednja-velikost">
            <form action="/dodaj_predmet/" method="POST" accept-charset="utf-8">
                <input type="text" name="ime" placeholder="Ime predmeta">
                <button>DODAJ</button>
            </form>
        </div>
        <div class="gumb-levo-zgoraj">
            <a href="/odjava/"><button type="button">ODJAVA</button></a>
        </div>
    </div>
</body>
%end
</html>