<h1>{{poglavje.ime}}</h1>

<ul>
%for alineja in poglavje.seznam:
    <li>
        <a href='/predmet/{{predmet.ime}}/{{poglavje.ime}}/{{alineja.ime.replace("❌", "_krizec_").replace("✅", "_kljukica_")}}'>{{alineja.ime}}

        </a>
        %if ime_alineje == alineja.ime.replace("❌", "_krizec_").replace("✅", "_kljukica_"):
            ➙ {{alineja.odgovor}}
        %end
    </li>

    <a href='/predmet/{{predmet.ime}}/{{poglavje.ime}}/{{alineja.ime.replace("❌", "_krizec_").replace("✅", "_kljukica_")}}/znam'>znam</a>
    <a href='/predmet/{{predmet.ime}}/{{poglavje.ime}}/{{alineja.ime.replace("❌", "_krizec_").replace("✅", "_kljukica_")}}/ne_znam'>ne znam</a>
%end
</ul>